{% load static %}
{% for articles in article %}
<article class="post-49 post type-post status-publish format-standard has-post-thumbnail hentry category-community tag-government tag-meeting">
    <div class="post__inner c-content-box">
     <!-- POST HEADER : begin -->
     <header class="post__header">
      <!-- POST THUMBNAIL : begin -->
      <p class="post__thumbnail post__thumbnail--cropped">
       <a class="post__thumbnail-link post__thumbnail-link--cropped" href="https://preview.lsvr.sk/townpress/report-from-financial-meeting/" style="background-image: url('{{articles.image.url}}');">
       </a>
      </p>
      <!-- POST THUMBNAIL : end -->
      <!-- POST TITLE : begin -->
      <h2 class="post__title">
       <a class="post__title-link" href="https://preview.lsvr.sk/townpress/report-from-financial-meeting/" rel="bookmark">
        {{articles.title}}
       </a>
      </h2>
      <!-- POST TITLE : end -->
     </header>
     <!-- POST HEADER : end -->
     <!-- POST CONTENT : begin -->
     <div class="post__content">
        <img src="{{ articles.image.url }}" alt="{{articles.title}}">
      <p>
        
        {{articles.content}}
        </p>
      <!-- POST PERMALINK : begin -->
      <p class="post__permalink">
       <a class="post__permalink-link" href="https://preview.lsvr.sk/townpress/report-from-financial-meeting/" rel="bookmark">
        Read More
       </a>
      </p>
      <!-- POST PERMALINK : end -->
     </div>
     <!-- POST CONTENT : end -->
     <!-- POST FOOTER : begin -->
     <footer class="post__footer">
      <!-- POST META : begin -->
      <ul aria-label="Post Meta" class="post__meta">
       <!-- POST DATE : begin -->
       <li class="post__meta-item post__meta-item--date">
        <span aria-hidden="true" class="post__meta-item-icon post__meta-item-icon--date">
        </span>
        <span class="post__meta-date" role="group">
         {{articles.pub_date}}
        </span>
        <span class="post__meta-author">
         by
         <a class="post__meta-author-link" href="https://preview.lsvr.sk/townpress/author/lsvradmin/" rel="author">
          LSVRthemes
         </a>
        </span>
        <span class="post__meta-categories">
         <span class="post__terms post__terms--category">
          in
          <a class="post__term-link" href="https://preview.lsvr.sk/townpress/category/community/">
           Community
          </a>
         </span>
        </span>
       </li>
       <!-- POST DATE : end -->
      </ul>
      <!-- POST META : end -->
     </footer>
     <!-- POST FOOTER : end -->
    </div>
   </article>
{% endfor %}